@CHARSET "UTF-8";

[class^="icon-"],
[class*=" icon-"] {
  background-image: url("images/glyphicons-halflings.png");
}
.icon-white {
  background-image: url("images/glyphicons-halflings-white.png");
}

/** My custom classes **/
tr .btn-group { float: right; visibility: hidden; }
tr:hover .btn-group { visibility: visible; }